html, body {
    margin: 0;
    height:100%;
    background-color: #EAF8FF;
    
    }
    
html {
    scroll-behavior: smooth;
}              
    
    .bg-container {
        margin: 0%;
        background-repeat: no-repeat;
        background-position: top;
        height: 100%;
        width: 100%;
        
    }
    
    
    #about {
        background-repeat: no-repeat;
        background-size:contain;
        background-color: #0000;
        background-image: url("/images/colorabout.png");
        position: fixed;
        top: 35px;
        right: 300px;
        width: 70px;
        height: 34px;
        border: none;
        cursor: pointer;
        /* border: 3px solid black; */
        }
    
    #about:hover {
        background-image: url("/images/colorabout2.png");
        background-repeat: no-repeat;
        width:70px;
        height: 57px;
        
    }

    #about:active {
        background-image: url("/images/colorabout3.png");
        background-repeat: no-repeat;
        transition-duration: 600ms;

        
    }

    #aboutBanner {
        background-repeat: no-repeat;
        background-size:contain;
        background-color: #0000;
        background-image: url("/images/learnMore1.png");
        background-position: center top;
        position: absolute;
        margin-top: 117%;
        right:67.5%;
        width: 14%;
        height: 9%;
        border: none;
        cursor: pointer;
        /* border: 3px solid black; */
        }

    
    
    #aboutBanner:hover {
        background-image: url("/images/learnMore2.png");
        background-repeat: no-repeat; 
    
    } 

    #aboutOverlay {
        position: fixed;
        display: none;
        width: 100%; 
        height: 100%; 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color:rgba(255,255,255, 0.75);
    
        /* background-color: rgba(0,0,0,0.7);  */
        z-index: 3; 
        /* border: 3px solid blue; */
      }

     #aboutOverlayContainer {
         display:flex;
         position:relative;
         margin-top: 5%;
         margin-left:10%;
         width: 80%;
         height:80%; 
         background-color: #C29596;
         border-radius: 5px;
         border: 3px solid black;
     }

     #aboutOverlayPic {
        position:absolute;
        width:50%;
        height:100%;
        border: 3px solid blue;  

     }
      
    #portraitimg {
        position: absolute;
        display:block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        border-radius: 5%;
        border: solid 10px white;
    } 

    #aboutOverlayText{
        width:50%;
        /* border: 3px solid red; */
        position: absolute;
        margin-left:47%;
        
    }

    .overlayH {
     text-align: center;
     margin-top: 10%;
        
    }
    .overlayP {
        text-align: center;
        margin-top: 5%;
    }

    #aboutOverlayClose {
        background-image: url("/images/x.png");
        background-repeat: no-repeat;
        background-color: #0000;
        background-size: contain;
        position: relative;
        width: 4%;
        height: 4%;
        border: none;
        z-index: 4;
        left: 96%;
        top: 1%;
       
        


    }

    #aboutOverlayClose:hover {
        background-image: url("/images/xhover.png");
        cursor: pointer;
    }


    #work {
        background-repeat: no-repeat;
        background-size:contain;
        background-color: #0000;
        background-image: url("/images/colorwork.png");
        position: fixed;
        top: 35px;
        right: 220px;
        height: 34px;
        width: 70px;
        border: none;
        cursor: pointer;
        
        }
    
    #work:hover {
        background-image: url("/images/colorwork2.png");
        background-repeat: no-repeat;
        height: 57px;
        width: 70;
        
    }

    #work:active {
        background-image: url("/images/colorwork3.png");
        background-repeat: no-repeat;
        transition-duration: 600ms;

        
    }

    #workBanner {
        background-repeat: no-repeat;
        background-size:contain;
        background-color: #0000;
        background-image: url("/images/seeExamples1.png");
        position: absolute;
        margin-top: 187%;
        right: 19%;
        width: 13%;
        height: 12%;
        border: none;
        cursor: pointer;
        /* border: 3px solid black; */
        }

    
    
    #workBanner:hover {
        background-image: url("/images/seeExamples2.png");
        background-repeat: no-repeat; 
    }

    #workOverlay {
        position: fixed;
        display: none;
        width: 100%; 
        height: 100%; 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color:rgba(255,255,255, 0.75);
    
        /* background-color: rgba(0,0,0,0.7);  */
        z-index: 3; 
        /* border: 3px solid blue; */
      }

     #workOverlayContainer {
         display:flex;
         position:relative;
         margin-top: 5%;
         margin-left:10%;
         width: 80%;
         height:80%;
         background-color: #C88161;
         border-radius: 5px;
         /* border: 3px solid black; */
     }

     #workOverlayText{
        width:50%;
        height: 100%;
        /* border: 3px solid red; */
        position: absolute;
        /* margin-left:25%; */
    }

    /* #workOverlayText .overlayP {
        margin-top:  0%;
    } 
    #workOverlayText .overlayH {
        margin-top:  2%;
    }  */

     /* #workOverlayLinks {
        position:relative;
        width:50%;
        height:50%;
        margin-left: 50%;
        border: 3px solid blue;  
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 70vh;
      } */
      
      /* .caseStudies {
        position: absolute;
        flex: 1;
        /* height: 100%; */
        /* width: 50%; */
        /* background-position: center; */
        /* background-size: contain; */
        /* background-repeat: none; */
        /* transition: flex 0.8s ease; 
      } */ 
    
      /* .caseStudies:hover {
      flex: 7;
      } */

     #workOverlayClose {
        background-image: url("/images/x.png");
        background-repeat: no-repeat;
        background-color: #0000;
        background-size: contain;
        position: relative;
        width: 4%;
        height: 4%;
        border: none;
        z-index: 4;
        left: 96%;
        top: 1%;
    }

    #workOverlayClose:hover {
        background-image: url("/images/xhover.png");
        cursor: pointer;
    }

    #dontShootThmb {
        display: flex;
        flex: 1;
        width: 50%;
        /* border: 25px solid transparent; */
        /* border-radius: 2%;
        border-image: none; */
    }

    /* #dontShootThmb:hover {
        border-image: url(/images/thumbBorder.png) 500 stretch;
        
    } */

    #nuanceThmb {
        display: flex;
        flex: 1;
        width: 50%;
       
        /* border: 25px solid transparent;
        border-radius: 2%;
        border-image: none; */
    }

    /* #nuanceThmb:hover {
        border-image: url(/images/thumbBorder.png) 500 stretch;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
    } */

    .workContainer{
        /* padding: 75px 0; */
        /* margin: 0 auto; */
        width: 90%;
        border: 3px solid blue;
        position: absolute;
        /* margin-top: 5%; */
        margin-left: 5%;
        /* padding: 100px 10px 15px 10px; */
      }
      
      
      .work-wrap {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 70vh;
      }
      
      .project {
        flex: 1;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: none;
        transition: flex 0.8s ease; 
      }
    
      .project:hover {
      flex: 2;
      }

      .dontShoot { 
        background-image: url(/images/dontShootThumb.png);
      }
      
      .nuance { 
        background-image: url(/images/nuanceThumb.png);
      }

    


    #artistry {
        background-repeat: no-repeat;
        background-size:contain;
        background-color: #0000;
        background-image: url("/images/colorartistry.png");
        position: fixed;
        top: 35px;
        right: 140px;
        height: 34px;
        width: 70px;
        border: none;
        cursor: pointer;
        }
        
    #artistry:hover {
        background-image: url("/images/colorartistry2.png");
        background-repeat: no-repeat;
        height: 57px;
        width: 70px;
    }

    #artistry:active {
        background-image: url("/images/colorartistry3.png");
        background-repeat: no-repeat;
        transition-duration: 600ms;

        
    }

    #artistryBanner {
        background-repeat: no-repeat;
        background-size:contain;
        background-color: #0000;
        background-image: url("/images/viewgallery1.png");
        background-position: center top;
        position: absolute;
        margin-top: 329.5%;
        right:67.5%;
        width: 14%;
        height: 11%;
        border: none;
        cursor: pointer;
        /* border: 3px solid black; */
        }
    
    #artistryBanner:hover {
        background-image: url("/images/viewgallery2.png");
        background-repeat: no-repeat; 
    }


    #galleryOverlayClose {
        background-image: url("/images/x.png");
        background-repeat: no-repeat;
        background-color: #0000;
        background-size: contain;
        position: relative;
        width: 4%;
        height: 4%;
        border: none;
        z-index: 4;
        left: 96%;
        top: 1%;
    }

    #galleryOverlayClose:hover {
        background-image: url("/images/xhover.png");
        cursor: pointer;
    }

    #galleryOverlay {
        position: fixed;
        display: none;
        width: 100%; 
        height: 100%; 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color:rgba(255,255,255, 0.75);
    
        /* background-color: rgba(0,0,0,0.7);  */
        z-index: 3; 
        /* border: 3px solid blue; */
      }

      

     #galleryOverlayContainer {
         display:flex;
         position:relative;
         margin-top: 5%;
         margin-left:10%;
         width: 80%;
         height:80%;
         background-color: #7E8372;
         border-radius: 5px;
         /* border: 3px solid black; */
     }

     #galleryOverlayText{
        width:75%;
        height: 30%;
        border: 3px solid red;
        position: absolute;
        margin-left:12.5%;
    }

     #galleryOverlayText .overlayP {
        margin-top:  0%;
    } 
    #galleryOverlayText .overlayH {
        margin-top:  2%;
    } 
  
  .galleryContainer{
    /* padding: 75px 0; */
    /* margin: 0 auto; */
    width: 100%;
    border: 3px solid blue;
    position: absolute;
    /* margin-top: 5%; */
    /* padding: 100px 10px 15px 10px; */
  }
  
  
  .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
  }
  
  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
    
  }

  .item:hover {
  flex: 7;
  }
    
  
  .item-1 { 
    background-image: url('https://images.unsplash.com/photo-1499198116522-4a6235013d63?auto=format&fit=crop&w=1233&q=80');
  }
  
  .item-2 { 
    background-image: url('https://images.unsplash.com/photo-1492760864391-753aaae87234?auto=format&fit=crop&w=1336&q=80');
  }
  
  .item-3 { 
    background-image: url('https://images.unsplash.com/photo-1503631285924-e1544dce8b28?auto=format&fit=crop&w=1234&q=80');
  }
  
  .item-4 { 
    background-image: url(/images/dontShootThumb.png);
  }
  
  .item-5 { 
    background-image: url(/images/nuanceThumb.png);
  }
  
  /* .social{
    position: absolute;
    right: 35px;
    bottom: 0; */
    
    /* img{
      display: block;
      width: 32px;
    }
  } */


    #contact {
        background-repeat: no-repeat;
        background-size:contain;
        background-color: #0000;
        background-image: url("/images/colorcontact.png");
        position: fixed;
        top: 35px;
       right: 60px;
        height: 34px;
        width: 70px;
        border: none;
        cursor: pointer;
        }
    
    #contact:hover {
        background-image: url("/images/colorcontact2.png");
        background-repeat: no-repeat;
        height: 57px;
        width: 70px;

        
    }

    #contact:active {
        background-image: url("/images/colorcontact3.png");
        background-repeat: no-repeat;
        transition-duration: 600ms;

        
    }

    #contactBanner {
        background-repeat: no-repeat;
        background-size:contain;
        background-color: #0000;
        background-image: url("/images/getInTouch1.png");
        position: absolute;
        margin-top: 401%;
        right: 19%;
        width: 14%;
        height: 9%;
        border: none;
        cursor: pointer;
        /* border: 3px solid black; */
    }

    #contactBanner:hover {
        background-image: url("/images/getInTouch2.png");
        background-repeat: no-repeat; 
    }


    
    #topbtn {
        background-repeat: no-repeat;
        background-size:contain;
        background-color: #0000;
        background-image: url("/images/colorbacktotop1.png");
        position: fixed;
        bottom: 5px;
        right: 30px;
        height: 120px;
        width: 139px;
        border: none;
        cursor: pointer;
        transition-duration: 600ms;
        /* border: 3px solid black; */
        
        }
    
    #topbtn:hover {
        position: fixed;
        background-image: url("/images/colorbacktotop2.png");
        background-repeat: no-repeat;
        transition-duration: 600ms;
    }

    #topbtn:active {
        background-image: url("/images/colorbacktotop3.png");
        background-repeat: no-repeat;
        transition-duration: 600ms;

        
    }
    
    
    h1 {
        font-family: 'Bad Script', cursive;
       font-size: 3vw;
       /* border: 3px solid black; */
    }
    
    p {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: lighter;
        font-size:1.7vw;
        /* border: 3px solid black; */
        margin-top: -7%;
    }
    
.scroll {
position: relative;
width: 100%;
}

#aboutMe {
    position: absolute;
    margin-top:-376.5%;
    margin-left: 10%;
    width:31%;
    
    /* border: 3px solid black; */
    text-align: center;
  
}

#scrollToAbout {
    position: absolute;
    margin-top:-382%;
    margin-left: 10%;
    width:30%;
     
}


#myWork {
    position: absolute;
    margin-top:-304%;
    margin-left: 58%;
    width:30%;
    /* border: 3px solid black; */
    text-align: center;
    
}

#scrollToWork {
    position: absolute;
    margin-top:-311%;
    margin-left: 58%;
    width:30%;
    
}

#ArtistryMe {
    width: 30%;
    position: absolute;
    margin-left: 10%;
    margin-top: -162%;
    border: 3px solid black;
    text-align: center;
    
}

#scrollToArtistry {
    position: absolute;
    margin-top:-168.5%;
    margin-left: 10%;
    width:30%;
     
}

#contactMe {
    position: absolute;
    margin-top:-91%;
    margin-left: 58%;
    width:30%;
    border: 3px solid black;
    text-align: center;
    
}

#scrollToContact {
    position: absolute;
    margin-top:-97.5%;
    margin-left: 58%;
    width:30%;
     
}

#copyright {
    position: relative;
    
    margin-left: auto;
    margin-right: auto;
    width:auto;
    /* border: 3px solid black; */
    text-align: center;
  
}

